/* body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} */
.sec-1 {
    /* background-color: #013836; */
    background-color: #0f393c;
}

.hero {
    background: url(images/Hospital.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 119, 182, 0.4); */
    /* background-image: rgba(155, 199, 223, 0.4), rgba(7, 163, 247, 0.4); */
    background: linear-gradient(to bottom, rgba(49, 95, 119, 0.4), #4da4aaa2);
    /* rgba(155, 199, 223, 0.4) */
}

.hero .container {
    position: relative;
    z-index: 2;
}

.logo {
    /* color: rgb(255, 255, 255); */
    background: linear-gradient(rgb(151, 223, 240), rgb(34, 187, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background-color: #0f393c;
    border: none;
    color: white;
}

.btn:hover {
    background-color: #95d7db;
    color: black;
    border: none;
    /* transition: 0.5s; */
}

.service {
    /* background-color: #00ffff30; */
    background-color: #95d7db;
}

.doctor {
    /* background-color: #00ffff30; */
    background-color: #95d7db;
}

.contact {
    /* background-color: #00ffff30; */
    background-color: #95d7db;
}

.box {
    border-radius: 10px;
    background-color: #95d7db;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.326);
}


/* .btn-primary:hover {
    background-color: #003680;
} */

.btn-2 {
    background-color: #0f393c;
    border: none;
    color: white;
}

.btn-2:hover {
    background-color: #ffffff63;
    color: black;
    border: none;
    border: solid rgb(9, 53, 55) 1px;
    /* transition: 0.5s; */
}

.title {
    color: #0f393c;
}

.sec-last {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #0f393c;
}